
{% extends 'base/base.html' %}

{% block title %}Acceil{% endblock title %}

{% block content %}
    <!-- Widgets  -->
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{%if user.STOCKTNKT   %}
                                    {{Stocknkc }}</span></div>
                                    <div class="stat-heading">Nombre de Produit Entrer</div> {%endif%}
                                    {%if user.STOCKTfl  %}
                                    {{Stockfm }}</span></div>
                                    <div class="stat-heading">Nombre de Produit Entrer</div>
                                     {%endif%} {% if user.Utilisateur != True %} 
                                     {{nservice }}  </span></div>
                                <div class="stat-heading">Nombre de Service </div>  {%endif%} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{%if user.STOCKTNKT   %}
                                    {{Sortinkc }}</span></div>
                                    <div class="stat-heading">Nombre de Produit Sortie</div> {%endif%}
                                    {%if user.STOCKTfl  %}
                                    {{Sortifm }} </span></div>
                                <div class="stat-heading">Nombre de Produit Sortie</div>{%endif%}
                                {% if user.Utilisateur != True %} 
                                {{NPT }}  </span></div>
                           <div class="stat-heading">Nombre de Produit dans touts Magasin </div>  {%endif%} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{%if user.STOCKTNKT   %}
                                    {{tsnkc }} </span></div>
                                    <div class="stat-heading">Nombre de Produit dans Magasin</div> {%endif%}
                                    {%if user.STOCKTfl  %}
                                    {{tsfm }} </span></div>
                                <div class="stat-heading">Nombre de Produit dans Magasin</div>{%endif%}
                                {% if user.Utilisateur != True %} 
                                {{nbg }}  </span></div>
                           <div class="stat-heading">Nombre de Magasin </div>  {%endif%} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ Utilisateur }}</span></div>
                                <div class="stat-heading">Admin</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title"></h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}