
{% extends 'base/base.html' %}

{% block title %}Listes de Produits{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Acceil</a></li>
                            <li><a href="#">Produit</a></li>
                            <li class="active">Listes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">listes Produits </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Produits</th>
                                <th>Type</th>
                                <th>PrixU</th>
                                <th>Quantitee</th>
                                <th>PrixT</th>
                                <th>Date</th>

                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for vente in vente %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{vente.Produit}}</td>
                                <td>{{vente.Type}}</td>
                                <td>{{vente.PrixU}}</td>
                                <td>{{vente.Quantitee}}</td>
                                <td>{{vente.PrixT}}</td>
                                <td>{{vente.date}}</td>
                                
                              
                               
                            </tr>
                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}